@media (max-width: 1000px) {
    .hideOnMobile{
        display: none;
    }
}

@media (min-width: 1000px) {
    .main {
        min-height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: "Courier New", Courier, monospace;
        margin-left: 50px;
    }


    .hideOnDesktop {
        display: none;
    }
}


.footer {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}

.input {
    width: 200px;
    height: 100%;
    padding: 1%;
    margin: 2%;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-left: 50px;
}

.image {
    width: 70%;
    height: 50%;
    margin-left: 20%;
}

.title {
    font-size: 2rem;
    margin: 2rem 1rem;
    margin-left: 50px;
}

.description {
    line-height: 1;
    margin: 2rem 1rem;
    font-size: 1.2rem;
    margin-left: 50px;
}

.log {
    line-height: 1rem;
    margin: 1rem 1rem;
    font-size: 1rem;
    margin-left: 50px;
}

.button {
    border-radius: 4px;
    background-color: blue;
    border: none;
    color: #ffffff;
    font-size: 15px;
    padding: 8px;
    width: 200px;
    cursor: pointer;
    margin: 2rem 1rem;
    margin-left: 50px;

}
